

<%= form_for @article, html: {class: "form-horizontal"} do |f|  %>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :content, rows: "10", cols: "100" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'File under at least one category', :class => "control-label" %>
    <% Category.all.order(name: :asc).each do |category| %>
      <div class="controls">
        <%= check_box_tag "article[category_ids][]", category.id %>
        <%= category.name %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary" %>
    <%= link_to 'Cancel', articles_path, :class => "btn btn-default" %>
  </div>
<% end %>